* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.nav-logo-img {
    width: 95px;
    height: auto;
    object-fit: contain;
}

/* Remove a bolinha dos itens de lista*/
ul {
    list-style: none;
}

/* Remove o sublinhado dos itens com link*/
a {
    text-decoration: none;
}

.section-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    padding: 8px 0;
    position: fixed;
    width: 100%;
    z-index: 5;
    border-bottom: 2px  solid #333;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Ajustar alinhamento da lista dentro do nav-menu na barra de navegação*/
.navbar .nav-menu ul {
    display: flex;
    gap: 20px;
    align-items: center; /* Alinha  os elementos verticalmente*/
}

/* Adiciona uma borda com fundo transparente e transição suave nos items da barra denavegação*/
.nav-item-link {
    color: #ff4d4d;
    border: 2px solid #ff4d4d;
    background-color: transparent;
    padding: 8px 16px;
    border-radius: 12px;
    transition: all 0.3 ease;
}

/* Adiciona efeiton "neon" ao passar o cursor entre os item da barra de navegação*/
.nav-item-link:hover {
    color: white;
    background-color: #ff4d4d;
    box-shadow: 0 0 15px #ff4d4d, 0 0 30px #ff4d4d;
}

.pesquisa-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
}

.pesquisa-input {
    background-color: #111;
    border: 2px solid #ff4d4d;
    border-radius: 20px;
    padding: 0;
    width: 0;
    height:80%;
    color: white;
    font-size: 14px;
    outline: none;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: width 0.4s ease, opacity 0.3s ease, padding 0.4s ease;
}

.pesquisa-btn {
    background: transparent;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.3s ease;
}

.pesquisa-container.active .pesquisa-input {
    width: 250px;
    opacity: 1;
    padding: 0 45px 0 20px;
}

.pesquisa-container.active .pesquisa-btn,
.pesquisa-container.active .pesquisa-input {
    box-shadow: 0 0 10px #ff4d4d;
    color: white;
}